title= title

meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property='og:url', content='https://untitled.io')
meta(property='og:type', content='website')
meta(property='og:title', content='Untitled')
meta(property='og:description', content='Watch TV with Friends!')
meta(property='og:image', content='https://untitled.io/images/1337.jpg')

script(src='/bower_components/react/react.js')
script(src='/bower_components/react/react-dom.js')

link(rel='stylesheet', href='/css/base.css')