extends ./global/layout

block assets
  meta(name='description', content='Sample React Page')
    
  link(rel='stylesheet', href='/css/sample-react.css')
  script(src='/react/build/sample-react.js')

block content
  script.
    ReactDOM.render(sample, document.body);
  