@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/Proxima-Nova/ProximaNova-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

.section-me {
    width: 100%;
    height: 100%;
    background: #525760;
    background: -moz-linear-gradient(-75deg, #525760 1%, #272F39 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #525760), color-stop(100%, #272F39));
    background: -webkit-linear-gradient(-75deg, #525760 1%, #272F39 100%);
    background: -o-linear-gradient(-75deg, #525760 1%, #272F39 100%);
    background: -ms-linear-gradient(-75deg, #525760 1%, #272F39 100%);
    background: linear-gradient(135deg, #525760 1%, #272F39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 );
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

section {
    width: 100%;
    position: relative;
}

.section-me .selfie {
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    flex: 0 0 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("/images/1337.png") center center no-repeat;
    background-size: contain;
    z-index: 1;
    border: 10px solid white;
}

.section-me .text {
    padding: 100px 50px 50px 50px;
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 7px;
    margin-top: -100px;
    text-align: center;
}

.section-me .location {
    background: url("/images/icon_location.svg") left top no-repeat;
    background-size: auto 24px;
    padding-left: 35px;
    height: 29px;
    line-height: 29px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 13px;
}

.section-me .container-nav {
    padding: 30px;
    text-align: center;
}

.section-me .container-nav a:hover {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.section-me .container-nav a {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 0 20px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.section-me .container-nav a.linkedin {
    background: url("/images/icon_linkedin.svg") center center no-repeat;
    background-size: 18px auto;
}

.section-me .container-nav a.github {
    background: url("/images/icon_github.svg") center center no-repeat;
    background-size: 23px auto;
}

.detail-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
    overflow: auto;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.detail-container .detail-bg {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0;
    filter: alpha(opacity=0);
}